
.span {
    width: 100%;
    display: flex;
    justify-content: center;
}.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 95%;
    text-align: center;
}

.divider span {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px;
    color: black;
}

.divider::before,
.divider::after {
    content: "";
    flex-grow: 1;
    height: 4px;
    background-color:  rgb(139, 7, 172);
    border-radius: 10px;
    /* Cor da linha */
}