header , header h2, header nav, header nav ul, header nav ul li{
    display: flex;
    align-items: center;
}
header{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgb(139, 7, 172);
    justify-content: space-between;
}
header nav ul li{
    padding: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}